<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoMeds</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap CSS Try1-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

    <!--BS CSS 2-->
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->


    <!-- CSS only -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/products">CoMeds</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
                    aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav ml-lg-auto">
                        <% if(!currentUser) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/register">Register</a>
                            </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href='/products/search'>Search</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Profile
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark"
                                        aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="/user/personaldetails">Account Details</a></li>
                                        <li><a class="dropdown-item" href="/user/purchasehistory">Purchase History</a></li>
                                        <li><a class="dropdown-item" href="/user/mobileverifyS1">Sell on CoMeds</a></li>
                                        <li><a class="dropdown-item" href="/user/myProducts">Your products</a></li>
                                        <li><a class="dropdown-item" href='/user/logout'><button type="button"
                                                    class="btn btn-primary" id="signout"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                                                        <path d="M7.5 1v7h1V1h-1z" />
                                                        <path
                                                            d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                                                    </svg> Signout
                                                </button></a></li>
                                    </ul>
                                    <!-- <a class="nav-link" href="/user/mobileverifyS1">Sell on CoMeds</a> -->
                                </li>
                                <!-- <li class="nav-item">
                                    <a href='/user/logout'>
                                        <button type="button" class="btn btn-primary" id="signout"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                                                <path d="M7.5 1v7h1V1h-1z" />
                                                <path
                                                    d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                                            </svg> Signout
                                        </button>
                                    </a>
                                </li> -->
                                <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>