 body {
    background-color: #0d6efd;
}

.card{
    opacity: 0.85;
    margin: 2em;
    background-color: black;
    color: white;
}

footer{
    color: white;
    background-color: black;
    margin: 1em;
    padding: 1em;
}